/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
    line-height: 1.6;
}

.logo {
    height: 50px;
}

#horizontal-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;  /* Increase padding to add space above and below */
    margin-top: 50px; /* Adjust margin-top to push the section down */
}

.game-item {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    min-width: 33%;
    overflow: hidden;
    padding: 20px;
    box-shadow: inset -10px 10px 10px rgba(0, 0, 0, 0.3);
}

.text-content {
    z-index: 2;
    position: relative;
    padding-left: 20px;
}

.pinball-image {
    position: absolute;
    right: 20px;
    bottom: 0;
    max-height: 350px;
    width: auto;
    z-index: 2;
}

.game-item h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.game-item p {
    font-size: 1.2rem;
}

.nav .nav-link {
    color: #ffffff;
}

.nav .nav-link:hover {
    color: #ec971f;
}

footer .social-media img {
    width: 30px;
}

footer {
    background-color: #333;
}
