/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
    line-height: 1.6;
}

.logo {
    height: 50px;
}

#horizontal-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.game-item {
    flex: 1;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.text-content {
    z-index: 2;
    position: relative;
}

.pinball-image {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 300px;
    transform: translateY(10%);
}

.game-item h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.game-item p {
    font-size: 1.2rem;
}

.nav .nav-link {
    color: #ffffff;
}

.nav .nav-link:hover {
    color: #ec971f;
}

footer .social-media img {
    width: 30px;
}

footer {
    background-color: #333;
}
